<form action="" method="POST">
	<div><label>Titulo de la tarea:</label><input name="titulo"></div>
	<div><label>Descripción:</label><textarea name="descripcion"></textarea></div>
	<div><button>Guardar tarea</button></div>
</form>