<table>
	<thead>
		<tr>
			<th>Titulo</th>
			<th>Descripción</th>
			<th>Estado</th>
			<th>Fecha de creación</th>
			<th>Opciones</th>
		</tr>
	</thead>
	<tbody>
		{% for tarea in tareas%}
		<tr>
			<td>{{ tarea.titulo }}</td>
			<td>{{ tarea.descripcion }}</td>
			<td>{{ tarea.estado }}</td>
			<td>{{ tarea.creado }}</td>
			<td><button onclick="eliminar_tarea('{{ tarea.key() }}')">Eliminar</button>
				<a href="/tareas/editar/{{ tarea.key() }}">Editar</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>